doctype html
html(lang="ja")
  head
    title hinagata-raspberrypi
    link(rel="stylesheet" href="../css/style.scss")

  body
    .wrapper
      block content-block

    script(src="../js/index.js")
